.input-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label {
    color: var(--blue-color);
    font-size: 1.1rem;
    text-shadow: var(--vintage-shadow);
}

/*si occupa degli input per numero di nodi e selezione nodo partenza*/
.input-group input,
.input-group select {
    background: var(--bg-dark);
    border: 2px solid var(--blue-color);
    color: var(--text-color);
    padding: 0.8rem;
    font-family: 'VT323', monospace;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: var(--red-color);
}